@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.row-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
}

.slogan {
  /* Subheading 16 / regular */
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;

  /* or 150% */
  text-align: center;
  padding: 0 2rem;
  margin-top: 8rem;

  /* Character / Title .85 */
  color: rgba(0, 0, 0, 0.85);
}

.highlight {
  display: inline;
  box-shadow: inset 0 -20px 0 #e6d9fc;
  /*-10px은 highlight의 두께*/
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  /* vocali_violet */
  background: #6200ee;

  /* drop-shadow / button-primary */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 100px;

  /* Heading 24 / bold */
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 20px;

  /* identical to box height, or 133% */
  text-align: center;

  /* Character / Primary(inverse) */
  color: #ffffff;
}

.description {
  margin-top: 113px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

.inputs {
  margin-top: 100px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.input-div {
  order: 1;

  display: flex;
  align-items: center;

  width: 100%;
  padding: 1rem;
  right: 0px;
  top: 0px;
}

.subtitle {
  margin: auto;
  width: 100px;

  /* Subheading 16 / medium */
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 16px;

  /* Character / Title .85 */
  color: rgba(0, 0, 0, 0.85);
}

.next-button {
  position: absolute;
  width: 194px;
  height: 48px;
  left: calc(50% - 194px / 2 - 0.5px);
  bottom: 5vh;
  background: #6200ee;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;

  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 24px;

  color: #ffffff;
}

.pitch-div {
  order: 2;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pitch-button {
  width: 90px;
  height: 38px;

  /* Body 14 / regular */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  /* Golden Purple / 6 */
  color: #722ed1;

  /* Neutral / 1 */
  background: #ffffff;

  /* Neutral / 5 */
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px 0px 0px 2px;
}

.description2 {
  /* Layout */
  position: absolute;
  width: 238px;
  height: 64px;
  left: calc(50% - 238px / 2 - 0.5px);
  top: 78px;

  /* Heading 24 / bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;

  /* Character / Title .85 */
  color: rgba(0, 0, 0, 0.85);
}

.pitch-buttons {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 249px;
  left: calc(50% - 249px / 2);
  bottom: 112px;
}

.return-button {
  position: absolute;
  left: 20px;
  top: 28px;
  font-size: 30px;
  color: #6200ee;
}

.space-div {
  margin-top: 5rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.vocali-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 24px 32px;
  border-top: 1px solid #20005299;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
}
