.header {
  height: 152px;
  top: 0px;

  background: #fafafa;
}

.selection-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 32px;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 48px;
  width: 315px;
  background: rgba(98, 0, 238, 0.06);
  border-radius: 17px;
}

.mood-selection {
  width: 251px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #6200ee;
}

.question {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-align: center;
  max-width: 180px;
}

.checkable-tag-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  max-width: 180px;
}

.checkable-tags {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;

  margin: 0.3rem;
}

.find-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 200px;
  height: 62px;
  left: calc(50% - 200px / 2 - 1.5px);
  bottom: 15vh;
  background: #6200ee;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;

  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

.vocali-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background: white;
  padding: 24px 32px;
  border-top: 1px solid #20005299;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
}
