@import "~antd/dist/antd.css";
.Pitch-app {
  background-color: #f6f0fe;
}

.description2 {
  /* Layout */
  position: absolute;
  width: 238px;
  height: 64px;
  left: calc(50% - 238px / 2 - 0.5px);
  top: 78px;

  /* Heading 24 / bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;

  /* Character / Title .85 */
  color: rgba(0, 0, 0, 0.85);
}

.pitch-buttons {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 249px;
  left: calc(50% - 249px / 2);
  bottom: 112px;
}

.record-button,
.stop-button {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;

  width: 118px;
  height: 48px;

  /* drop-shadow / button-primary */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;

  /* Heading 24 / bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  /* Character / Primary(inverse) */
  color: #ffffff;
}

.record-button {
  /* vocali_purple */
  background: #6200ee;
}

.stop-button {
  /* vocali_pink */
  background: #ee009d;
}

.return-button {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;

  position: absolute;
  width: 68px;
  height: 20px;
  left: 13px;
  top: 20px;

  /* Heading 20 / bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */
  text-align: center;

  /* vocali_purple */
  color: #6200ee;
}
