.result-contents {
  display: flex;
  min-height: calc(100vh - 232px);
  flex-direction: column;
  align-items: center;
}

.song-info {
  width: 90%;
  margin: 30px 0;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
  border-radius: 7px;
}

.card-skeleton {
  height: 80px;
  display: flex;
  align-items: center;
}

.result-description {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.result-description-small {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}

.song-score-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adjust-button {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: fixed; */
  /* width: auto; */
  /* height: 60px; */
  /* bottom: 10vh; */
  background: #6200ee;
  border: none;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043); */
  /* border-radius: 5px; */
  /* font-family: "Nanum Gothic", sans-serif; */
  /* font-weight: 600; */
  /* font-size: 21px; */
  /* color: #ffffff; */
}

.pitch-score-div,
.mood-score-div,
.song-score-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 18px;
  flex-direction: row;
}

.score-title {
  font-weight: 600;
  font-size: 16px;
}

.pref-score {
  text-align: right;
}

strong {
  color: #6200ee;
}

.feedback-tag-icon {
  margin-bottom: 5px;
  font-size: 18px;
}

.feedback-tag-description {
  font-size: 14px;
  margin: 0;
}

.weight-slider-div {
  display: flex;
  justify-content: space-between;
}

.weight-slider-title {
  font-weight: 600;
  font-size: 18px;
  margin-right: 1.2rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.weight-slider-description {
  font-size: 12px;
  margin-bottom: 5px;
}

.weight-options {
  margin: 5px 0;
}
